.about {
	margin-top: 30px;
	&__container {
		opacity: 0;
		transform: scale(0) translate(-100%);
		display: flex;
		flex-direction: column;
	}
	&__picture {
		position: relative;
		padding-top: 116%;
		width: 100%;
		height: 100%;
		overflow: hidden;
		& img {
			position: relative;
			top: -7%;
			width: 100%;
			height: 131%;
			object-fit: cover;
			object-position: 73%;
		}
	}

	&__mask {
		top: 0;
		left: -3%;
		position: absolute;
		mask-image: url('./assets/img/about/about__mask.svg');
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}

	&__body {
		margin-top: 44px;
	}

	&__content {
		padding: 0 12px;
		&:not(:first-child) {
			margin-top: 34px;
		}
	}

	&__text {
	}

	&__title {
		font-weight: 700;
		font-size: 22px;
		text-transform: uppercase;
		&_highlight {
			color: $highlight;
		}
		& + [class*='__text'] {
			margin-top: 6px;
		}
	}
}
@media only screen and (min-width: 500.98px) {
	.about {
		&__picture {
		}
		&__title {
			font-size: 24px;
		}
	}
}
@media only screen and (min-width: 767.98px) {
	.about {
		&__container {
			flex-direction: row;
		}
		&__picture {
			flex: 42%;
			padding-top: 52%;
		}
		&__body {
			flex: 58%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 0;
		}
	}
}
@media only screen and (min-width: 1299px) {
	.about {
		margin-bottom: -179px;
		&__mask {
			left: 0%;
		}
		&__body {
			align-items: center;
			margin-top: -100px;
		}
		&__content {
			width: 585px;
			margin: -22px 0 0 -56px;
		}
	}
}