.about {
	margin-top: 30px;
	&__picture {
		margin-right: auto;
		width: 254px;
		height: 313px;
		& img {
			position: relative;
			top: -6%;
			left: 0%;
			width: 100%;
			height: 130%;
			object-fit: cover;
			object-position: 73%;
		}
	}

	&__mask {
		mask-image: url('./assets/img/about/about__mask.svg');
		mask-size: 100% 100%;
		width: 100%;
		height: 100%;
	}

	&__body {
		margin-top: 44px;
	}

	&__content {
		padding-left: 12px;
		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__text {
	}

	&__title {
		font-weight: 700;
		font-size: 22px;
		text-transform: uppercase;
		&_highlight {
			color: $highlight;
		}
		& + [class*='__text'] {
			margin-top: 20px;
		}
	}
}
@media only screen and (min-width: 500.98px) {
	.about {
		&__picture {
			width: 300px;
			height: 367px;
		}
		&__title {
			font-size: 24px;
		}
	}
}
@media only screen and (min-width: 767.98px) {
	.about {
		&__container {
			display: flex;
		}
		&__picture {
			flex: 42%;
		}
		&__body {
			flex: 58%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 0;
		}
	}
}
@media only screen and (min-width: 1279px) {
	.about {
		margin-bottom: -10%;
		&__picture {
			width: 524px;
			height: 646px;
		}
		&__body {
			align-items: center;
			margin-top: -100px;
		}
		&__content {
			width: 529px;
		}
	}
}